.gradle
/local.properties
/build
/captures
.externalNativeBuild
.cxx

*.iml
.DS_Store

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

app/build/

*.jks
*.keystore
google-services.json
Thumbs.db

**/apikey.txt
**/Secrets.kt
